.button {
    width: 800px;
    font-size: 18px;
    color: white;
    background-color: black;
    padding-top: 7px;
    padding-bottom: 7px;
  
  }
  
  .result {
    font-size: 26px;
  }
  
  .logo{
    height: 150px;
  }
  